.wrap {
  display: flex;
  height: 100vh;
  .menu {
    width: 155px;
    flex: 0 1 auto;
    border-left: 1px solid red;
    padding-right: 1px;
    height: 100%;
  }
  .content {
    flex: 1 1 auto;
    height: 100%;
	}
	.btn {
		margin-right: 8px;
	}
}