.wrap {
	height: 100%;
	display: flex;
	.dynamic-tabs {
		height: 40px;
		display: flex;
		box-shadow: inset 0 0 3px 2px hsla(0,0%,39.2%,.1);
		.tabs-title {
			width: 153px;
			background: #E6E6E6;
			color: #fff;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-right: 1px solid #fff;
		}
	}
	.content-wrap {
		.content {
			height: calc(100vh - 66px);
			width: calc(100vw - 160px);
			overflow-y: auto;
			// margin-top: 20px;
			.form {
				max-width: 1500px;
				min-width: 800px;
				overflow-x: auto;
				margin-top: 20px;
				.markdown {
					position: relative;	
					:global {
						.ant-form-item-children {
							position: static;
						}
						.mde-preview-content {
							img {
								max-width: 100%;
							}
						}
					}
					.upload {
						position: absolute;
						left: 520px;
						cursor: pointer;
						top: 15px;
					}
				}
			}
		}
	}
	.btn {
		margin-right: 8px;
	}
}