{
	"presets": [
		[
			"@babel/preset-env", // es2015+
			{
				"targets": {
          "browsers": "chrome >= 45"
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		], // babel v7 使用这个，用来处理修饰器
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "es",
				"style": true // `style: true` 会加载 less 文件
			}
		],
    "@babel/transform-arrow-functions" // babel v7中舍弃了 stage-x 所以只能用plugin来处理 箭头函数
	]
}