.header {
  height: 50px;
  // box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  margin-bottom: 1px;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  background: #001529;
  color: #fff;
  .edit {
    margin-left: 8px;
    position: relative;
    top: 2px;
    cursor: pointer;
  }
}